    <section class="ftco-section ftco-services-2 bg-light" id="ver-estado-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <h2 class="mb-4">Vea el estado de su equipo</h2>
                    <p>Introduzca su codigo en el buscador, y presione la lupa para ver el estado de su encargo.<br>
                    </p>
                </div>
            </div>

            <form action="verequipo.php" method="get" class="search-location">
                <div class="row">
                    <div class="col-lg justify-content-center">
                        <div class="form-group">
                            <div class="form-field">
                                <input type="text" class="form-control" name="codigo"placeholder="Introduzca su codigo">
                                <button><span class="ion-ios-search"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>			
        </div>
    </section>